<app-not-found [visible]="!food" notFoundMessage="Product Not Found" resetLinkText="Go to HomePage"></app-not-found>
<div *ngIf="food" class="container">
  <img [src]="food.imageUrl" [alt]="food.name">
</div>
<div class="details" style="line-height: 12px;">
  <div class="header">
    <span class="name" style="color: green;">
      {{food.name}}
    </span>
    <span class="favorite{{food.favorite?'':'not'}}">
      ♥
    </span>
  </div>
  <div class="star"></div>
  <div class="origins">
    <span *ngFor="let origin of food.origins">
      {{origin}}
    </span>
  </div>
  <div class="tag">
    <app-tags [foodPagetags]="food.tags" justifyContent="start"></app-tags>
  </div>
  <div class="cook-time">
    <span class="">
      Time to cook about <strong>{{food.cookTime}}</strong>Minuts
    </span>
  </div>
  <div class="price">
    <span class="">
      {{food.price | currency}}
    </span>
  </div>
  <button (click)="addToCart()">Add to Cart</button>
</div>
